<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>armo_channels</title>
		<link rel="icon" type="image/png" href="/media/WhatsApp Image 2021-06-14 at 13.12.07.jpeg">
		<meta name="viewport" content="width=device-width, intial-scale=1">
		<link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
		</script>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/jquery.js.min.js"></script>
		<link rel="stylesheet" href="./style/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default vn-navbar">
			<div class="container-feuled">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#MyNavbar" style="width: 43px;">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand" style="font-family: cursive; font-size: 25px ;margin-left: 10px; color: rgb(0, 138, 218);">armo_channels</a>
				</div>
				<div id="MyNavbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav vn-navbar" style="font-size: 20px;">
					</ul>
					
					<ul class="nav navbar-nav navbar-right" style="font-size: 20px; margin-right: 170px;">
						<li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-home" ></span></a></li>
                        <li><a href="http://localhost:8000/chat/index/"><span class="glyphicon glyphicon-send"></span></a></li>
                        <li><a href="http://localhost:8000/plus/"><span class="glyphicon glyphicon-plus-sign" style="color: gray;"></span></a></li>
						<li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-search" style="color: rgb(0, 78, 167);"></span></a></li>
                        <li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-heart-empty"></span></a></li>
                        <li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-user"></span></a></li>    
					</ul>
					</ul>
				</div>
			</div>
		</nav>
    <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% for result in all_search_results %}
    	<p>{{ result.username }}</p>
	{% empty %}
	{% endfor %}
