<html>
	<head>
		<meta charset="utf-8">
		<title>armo_channels</title>
		<link rel="icon" type="image/png" href="/media/WhatsApp Image 2021-06-14 at 13.12.07.jpeg">
		<meta name="viewport" content="width=device-width, intial-scale=1">
		<link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
		</script>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/jquery.js.min.js"></script>
		<link rel="stylesheet" href="./style/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default vn-navbar">
			<div class="container-feuled">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#MyNavbar" style="width: 43px;">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand" style="font-family: cursive; font-size: 25px ;margin-left: 10px; color: rgb(0, 138, 218);">armo_channels</a>
				</div>
				<div id="MyNavbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav vn-navbar" style="font-size: 20px;">
					</ul>
					
					<ul class="nav navbar-nav navbar-right" style="font-size: 20px; margin-right: 170px;">
						<li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="http://localhost:8000/chat/index/"><span class="glyphicon glyphicon-send"></span></a></li>
                        <li><a href="http://localhost:8000/plus/"><span class="glyphicon glyphicon-plus-sign" style="color: gray;"></span></a></li>
						<li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-heart-empty"></span></a></li>
                        <li><a href="http://localhost:8000/"><span class="glyphicon glyphicon-user"  style="color: rgb(0, 78, 167);"></span></a></li>    
					</ul>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">	
			<div class="M-jxE">
				<img alt="Add a profile photo" class="img-rounded" enctype="multipart/form-data" method="POST" title="Add a profile photo" role="presentation" src="/media/2.jpg" style="width: 20%; height: 20%; margin-top: 50px;">				<button type="button" class="btn btn-info" style="font-family: monospace; margin-top: -20px; margin-left: 30px;"><a href="http://localhost:8000/editprofile" style="color: white;">edit profile</a> </button>
				<a href=""><span class="glyphicon glyphicon-cog" style="font-size: 35px; margin-left: 20px; color: rgb(0, 0, 0);"></span></a>
			</div>
			<div>
				<strong style="font-size: 25px ; margin-left: 50px;">@ {{user}}</strong>				 				
			</div>
			<hr color="#f1f1f1" style="height: 1px; width: 80%;" class="container-feuled" >
			<a href="http://localhost:8000/posts/"><span class="glyphicon glyphicon-th" style=" margin-left: 35%; font-size: 20px; color: gray"></span></a>
			<a href="http://localhost:8000/armo_tv/"><span class="glyphicon glyphicon-film" style=" margin-left: 3%; font-size: 20px; color: rgba(0, 35, 87, 0.932);;"></span></a>
			<a href="http://localhost:8000/text/"><span class="glyphicon glyphicon-envelope" style=" margin-left: 3%; font-size: 20px; color: gray;"></span></a>
			<a href="http://localhost:8000/explore/"><span class="glyphicon glyphicon-save" style=" margin-left: 3%; font-size: 20px; color: gray;"></span></a>
			<a href="http://localhost:8000/"><span class="glyphicon glyphicon-paperclip" style=" margin-left: 3%; font-size: 20px; color: gray;"></span></a>
		</div>
		{% for armo_tv in armo_tvs %}
		<div class="container" style="margin-left: 30%;">
			{% if armo_tv.author == user %}
			<div class="armo_tv">
				<h4><a href="{% url 'armo_tv:detail' slug=armo_tv.slug %} "style="color: rgb(0, 183, 255);">{{armo_tv.author.username}}</a></h4>
				{% if armo_tv.extension == '.mp4'%}
				<video width="400" height="400" controls>
					<source src="{{armo_tv.video.url}}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				{% elif armo_tv.extension == '.webm'%}
				<video width="400" height="400" controls>
					<source src="{{armo_tv.video.url}}" type="video/webm">
					Your browser does not support the video tag.
				</video>
				{% elif armo_tv.extension == '.mpeg'%}
				<video width="400" height="400" controls>
					<source src="{{armo_tv.video.url}}" type="video/mpeg">
					Your browser does not support the video tag.
				</video>
				{% elif armo_tv.extension == '.mov'%}
				<video width="400" height="400" controls>
					<source src="{{armo_tv.video.url}}" type="video/mov">
					Your browser does not support the video tag.
				</video>
				{% elif armo_tv.extension == '.ogg'%}
				<video width="400" height="400" controls>
					<source src="{{armo_tv.video.url}}" type="video/ogg">
					Your browser does not support the video tag.
				</video>
				{% endif %}
				<p>{{armo_tv.snippet}} <a href="http://localhost:8000/armo_tv/{{armo_tv.video}}">more</a></p>
				<p class="author" style="color: rgb(0, 4, 255);">{{armo_tv.title}} , {{armo_tv.date}}</p>
			</div>
			{% endif %}
		</div>
		{% endfor %}
		{% if user.is_authenticated %}
		<div class="Gx7Kn" style="margin-left: 30%;">
            <div class="_10zPR">
                <div class="felixSpriteProfileChannelNullState"></div>
                <div class="d0vq9">
                    <h1 class="_7UhW9       fKFbl yUEEX   KV-D4          uL8Hv         ">Upload a armo_tv</h1>
                </div>
                <div class="_2c69S">
                    <div class="_7UhW9   xLCgt      MMzan  KV-D4          uL8Hv         "></div>
                </div>
                <div class="uzwXe">
                    <a href="http://localhost:8000/armo_tv/create/" tabindex="0">
                        <button class="sqdOP  L3NKy   y3zKF     " type="button">                              <div class="                     Igw0E     IwRSH      eGOV_         _4EzTm                                                                                   XfCBB                           ">Upload</div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
	{% endif %}
    </body>
</html>